In [1]:
import pandasql
import pandas as pd
import sqlite3

In [2]:
# Connect to sqlite and printout table names
con = sqlite3.connect('imdb.sqlite')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('movies',), ('principals',), ('ratings',), ('names',)]

In [3]:
# View movies table
movies = pd.read_sql_query("SELECT * FROM movies", con)
movies.head(1)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894,\N,45,Romance

In [4]:
# Determine number of records for movies table
movies.tconst.count()

328449

In [5]:
# View principals table
principals = pd.read_sql_query("SELECT * FROM principals", con)
principals.head(1)

,tconst,ordering,nconst,category,job,characters
0,tt0000009,1.0,nm0063086,actress,\N,"[""Miss Geraldine Holbrook (Miss Jerry)""]"

In [6]:
# Determine number of records in principals table
principals.tconst.count()

2659855

In [7]:
# View ratings table
ratings = pd.read_sql_query("SELECT * FROM ratings", con)
ratings.head(1)

      tconst  averageRating  numVotes
0  tt0000009            5.4      81.0

In [8]:
# Determine number of records in ratings table
ratings.tconst.count()

210982

In [9]:
# View names table
names = pd.read_sql_query("SELECT * FROM names", con)
names.head(1)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0043044,tt0050419,tt0072308"

In [10]:
# Determine number of records in names table
names.nconst.count()

989105

In [11]:
# Join movies and ratings table using tconst value
join = movies.set_index('tconst').join(ratings.set_index('tconst'))

In [12]:
join

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894,\N,45,Romance,5.4,81.0
tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897,\N,20,"Documentary,News,Sport",5.2,310.0
tt0000502,movie,Bohemios,Bohemios,0.0,1905,\N,100,\N,NaN,NaN
tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906,\N,70,"Biography,Crime,Drama",6.1,538.0
tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0.0,1908,\N,120,"Adventure,Fantasy",4.8,32.0
...,...,...,...,...,...,...,...,...,...,...
tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,0.0,2017,\N,84,Documentary,NaN,NaN
tt9916190,movie,Safeguard,Safeguard,0.0,2020,\N,90,"Action,Thriller",NaN,NaN
tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019,\N,123,Drama,NaN,NaN
tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0.0,2007,\N,100,Documentary,NaN,NaN
tt9916730,movie,6 Gunn,6 Gunn,0.0,2017,\N,116,\N,NaN,NaN

In [13]:
# Determine number of records in join dataframe
join.genres.count()

328449

In [14]:
# Remove records that do not have a rating
join1 = join[join['averageRating'].notna()]

In [15]:
join1

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894,\N,45,Romance,5.4,81.0
tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897,\N,20,"Documentary,News,Sport",5.2,310.0
tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906,\N,70,"Biography,Crime,Drama",6.1,538.0
tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0.0,1908,\N,120,"Adventure,Fantasy",4.8,32.0
tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0.0,1910,\N,58,"Adventure,Drama",3.1,11.0
...,...,...,...,...,...,...,...,...,...,...
tt9914286,movie,Sokagin Çocuklari,Sokagin Çocuklari,0.0,2019,\N,98,"Drama,Family",7.1,190.0
tt9914642,movie,Albatross,Albatross,0.0,2017,\N,97,Documentary,8.4,18.0
tt9914644,movie,9/11: Escape from the Towers,9/11: Escape from the Towers,0.0,2018,\N,120,Documentary,8.4,28.0
tt9914942,movie,La vida sense la Sara Amat,La vida sense la Sara Amat,0.0,2019,\N,74,Drama,6.9,39.0
tt9916160,movie,Drømmeland,Drømmeland,0.0,2019,\N,72,Documentary,6.5,31.0

In [16]:
# Remove extraneous columns
imdb = join1.drop(['isAdult', 'endYear'], 1)

In [17]:
imdb

,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,
tt0000009,movie,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,81.0
tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport",5.2,310.0
tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,70,"Biography,Crime,Drama",6.1,538.0
tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy",4.8,32.0
tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,1910,58,"Adventure,Drama",3.1,11.0
...,...,...,...,...,...,...,...,...
tt9914286,movie,Sokagin Çocuklari,Sokagin Çocuklari,2019,98,"Drama,Family",7.1,190.0
tt9914642,movie,Albatross,Albatross,2017,97,Documentary,8.4,18.0
tt9914644,movie,9/11: Escape from the Towers,9/11: Escape from the Towers,2018,120,Documentary,8.4,28.0
tt9914942,movie,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,74,Drama,6.9,39.0
tt9916160,movie,Drømmeland,Drømmeland,2019,72,Documentary,6.5,31.0

In [20]:
imdb.to_csv('imdb.csv', encoding='utf-8', index=False)